.benefits {
  padding: 85px 60px;
  background: repeat url("/images/noise.png");

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 0 46px;
    border-radius: 9px;
  }

  &__item {
    max-width: 315px;
    padding: 48.5px 0;

    h3 {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  @include breakpoint(laptop) {
    &__item {
      max-width: 275px;
    }
  }

  @include breakpoint(iPad) {
    padding: 85px 50px;
    &__item {
      max-width: 270px;
      margin: 0 auto;
    }
  }

  @include breakpoint(tablet) {
    &__item {
      max-width: 178px;
      img {
        max-width: 95px;
      }
      p {
        font-size: 17px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }

  @include breakpoint(md) {
    &__container {
      justify-content: center;
    }
    &__item {
      padding: 40px 0;
      text-align: center;
      max-width: 390px;
      p {
        font-size: 20px;
      }
      img {
        max-width: 110px;
      }
    }
  }

  @include breakpoint(sm-phone) {
    &__container {
      max-width: 335px;
    }
    padding: 85px 0;
    &__item {
      max-width: 335px;
      img {
        max-width: 75px;
      }
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}