.explore {
  background: repeat url("/images/alphabet-patterns.png");
  background-color: $purple;
  padding-bottom: 20px;
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__text {
    flex-direction: column;
    color: white;
    align-self: center;
    max-width: 513px;
    margin-bottom: 0;
  }
  &__button {
    @include grey-button;
    background-color: $light-white;
    max-width: 217px;
    margin-top: -90px;
    margin-bottom: 42px;
    padding: 11.5px 15px;
  }

  @include breakpoint(iPad) {
    &__image {
      img {
        max-width: 500px;
      }
    }
    &__text {
      max-width: 450px;
    }
    &__button {
      margin-top: -70px;
      margin-bottom: 22px;
    }
  }

  @include breakpoint(tablet) {
    div {
      justify-content: center;
    }
    &__image {
      margin-top: 40px;
      img {
        max-width: 547px;
      }
    }
    &__text {
      max-width: 576px;
    }
    &__button {
      margin:10px auto 42px;
      max-width: 547px;
      padding:  11.5px 186px;
    }
  }

  @include breakpoint(md) {
    &__image {
      img {
        max-width: 536px;
      }
    }
    &__button {
      padding: 11.5px 179px;
    }
  }

  @include breakpoint(mobileLarge) {
    &__image {
      img {
        max-width: 420px;
      }
    }
    &__button {
      padding: 11.5px 121px;
    }
  }

  @include breakpoint(sm-phone) {
    &__image {
      img {
        max-width: 315px;
      }
    }
    &__text {
      max-width: 315px;
    }
    &__button {
      padding: 11.5px 70px;
    }
  }
}