* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// This will push the footer to the bottom
main {
  flex: 1 0 auto;
}

.container {
  max-width: 980px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  @include breakpoint(laptop) {
    max-width: 750px;
  }

  @include breakpoint(tablet) {
    max-width: 580px;
  }

  @include breakpoint(phablet) {
    max-width: 470px;
  }

  @include breakpoint(largePhone) {
    max-width: 310px;
  }
}