.header {


  &_top{
    background-color: $light-grey;
    color: $dark-grey;
    display: flex;
    max-height: 230px;
    width: 100%;
    padding: 65px 0;
  }

  &_feedback {
    display: grid;
    justify-items: right;
    margin-left: auto;
    margin-top: -20px;
    margin-right: 0;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: lighter;
    }
    button {
      border: none;
      outline: none;
      background-color: transparent;
      color:$dark-grey;
      font-size: 23px;
      font-weight: bold;
      text-decoration: $dark-grey underline dashed 1.5px;
      &:hover {
        color: $light-black;
        transition: all .8s ease-in-out;
      }
    }
  }

  &_logo {
    display: flex;
  }

  &_logo-image {
    margin-right: 14px;
  }

  &_logo-text {
    max-width: 160px;
    h1 {
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 14px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
