.header {
  background-color: $light-grey;
  color: $dark-grey;
  max-height: 230px;
  padding: 65px 0;
  >.container {
    display: flex;
  }

  &__feedback {
    display: grid;
    justify-items: right;
    margin-left: auto;
    margin-top: -20px;
    margin-right: 0;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: lighter;
    }
    button {
      border: none;
      outline: none;
      background-color: transparent;
      color:$dark-grey;
      font-size: 23px;
      font-weight: bold;
      text-decoration: $dark-grey underline dashed 1.5px;
      &:hover {
        color: $light-black;
        transition: all .8s ease-in-out;
      }
    }
  }

  &__logo {
    display: flex;
  }

  &__logo-image {
    margin-right: 14px;
  }

  &__logo-text {
    max-width: 160px;
    h1 {
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 14px;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  @include breakpoint(tablet) {
    &__feedback {
      h2 {
        font-size: 26px;
      }
      button {
        font-size: 20px;
      }
    }
  }

  @include breakpoint(phablet) {
    &__logo-image {
      max-width: 90px;
      max-height: 90px;
    }
    &__logo-text {
      h1{
        font-size: 22px;
      }
    }
    &__feedback {
      margin-top: 5px;
      grid-template-rows: 30px;

      h2 {
        font-size: 20px;
        margin-bottom: 5px;
      }
      button {
        font-size: 18px;
        text-decoration:  $dark-grey underline dashed 1px;
      }
    }
  }

  @include breakpoint(largePhone) {
    &__top {
      padding: 45px 0;
      max-height: 300px;
      >.container {
        flex-direction: column;
      }
    }
    &__feedback{
      margin-top: 15px;
      justify-items: left;
      margin-left: 0;
      margin-right: auto;
    }
  }
}


