.container {
  position: relative;
}

.container__lines {
  position: absolute;
  top: 0;
  left: 20px;
  @include breakpoint(mobileLarge) {
    left: 50%;
    transform: translate(-50%);
  }
  @include breakpoint(sm-phone) {
    svg {
      max-width: 370px;
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-bottom: 100px;
  &__image {
    max-width: 610px;
    width: 100%;
  }
  &__text {
    max-width: 516px;
    font-weight: 500;
    font-size: 20px;
    margin: 24px 0;
    line-height: 30px;
  }
  &__button-container {
    button {
      margin-bottom: 24px;
      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
  &__main-button {
    @include purple-button;
  }
  &__explore-button {
    @include grey-button;
    min-width: 181.4px;
  }
  &__rate {
    font-weight: 500;
    margin-bottom: 94px;
  }

  @include breakpoint(laptop) {
    &__image {
      max-width: 516px;
      margin-top: 70px;
      img  {
        max-width: 540px;
      }
    }
    h1 {
      max-width: 516px;
    }
    &__text {
      max-width: 516px;
    }
  }
  @include breakpoint(iPad) {
    &__image {
      max-width: 438px;
      img{
        max-width: 462px;
      }
    }
  }

  @include breakpoint(tablet) {
    &__image {
      max-width: 612px;
      margin: 0 auto;
      img {
        max-width: 612px;
      }
    }
    &__text {
      max-width: 768px;
    }
    h1 {
      max-width: 768px;
    }
    &__button-container {
      max-width: 768px;
      justify-content: space-between;
      button {
        width: 45%;
        margin-left: 3%;
        &:last-child {
          margin-right: 3%;
        }
      }
    }
  }

  @include breakpoint(md) {
    &__image {
      margin-top: 0;
      max-width: 516px;
      img {
        max-width: 516px;
      }
    }
    &__button-container {
      max-width: 576px;
      button {
        margin-left: 0;
        margin-right: 0;
        &:last-child {
          margin-left: 0;
          margin-right: 0;
        }
        width: 100%;
      }
    }
  }

  @include breakpoint(mobileLarge) {
    &__image {
      max-width: 420px;
      img{
        max-width: 420px;
      }
    }

    &__rate {
      margin-bottom: 24px;
    }
  }

  @include breakpoint(sm-phone) {
    margin-bottom: 14px;
    h1 {
      font-size: 48px;
    }
    &__text {
      font-size: 16px;
    }
    &__image {
      max-width: 314px;
      img{
        max-width: 309px;
      }
    }
  }
}

h1 {
  font-size: 56px;
  max-width: 590px;
  font-weight: 600;
  margin-top: 137px;
  margin-bottom: 0;
  span {
    background: -webkit-linear-gradient(top left, $cyan , $purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
