.menu {
  background-color: $dark-grey;
  padding: 15px;
  &__burger {
    display: none;
    cursor: pointer;
  }

  &__list {
    display: flex;
    padding: 26px 35px;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-size: 21px;
      color: $white;
      &:hover {
        text-decoration: $white underline 1.5px;
      }
    }



    li {
      display: contents;
    }

    li + li::before {
      content: '|';
      color: $white;
      font-weight: bolder;
      font-size: 22px;
    }
  }



  @include breakpoint(tablet) {
    &__burger {
      display: block;

      &-line {
        transition: transform 0.75s ease, opacity 0.75 ease;
        display: block;
        width: 32px;
        height: 2px;
        background-color: $white;
        margin-top: 8px;
      }
    }
    &__list {
      display: none;
      li + li::before {
        content: '';
      }
      &.show {
        display: flex;
        flex-direction: column;
        margin-top: -15px;
        a {
            margin: 10px 0;
            font-size: 32px;
            font-weight: bolder;
        }
      }
    }
  }

  @include breakpoint(phablet) {
    &__list {
      &.show {
        a {
          font-size: 28px;
        }
      }
    }
  }

  @include breakpoint(largePhone) {
    &__list {
      &.show {
        a {
          font-size: 25px;
        }
      }
    }
  }

  }