@mixin purple-button {
  @include button;
  background-color: $purple;
  color: $light-white;
  font-weight: 700;

  &:hover {
    background-color: $dark-purple;
    transition: all .8s ease-in-out;
  }
}

@mixin grey-button {
  @include button;
  font-weight: 600;
}

@mixin button {
  padding: 11.5px 20px;
  border-radius: 9px;
  border-color: transparent;
  border-width: 0;
}