.testimonials {
  position: relative;
  padding: 85px 100px;
  background: repeat url("/images/noise.png");

  &__planet {
    position: absolute;
    left: 70px;
    top: 120px;
  }

  &__letters {
    position: absolute;
    right: 37px;
    top: 11px;
  }

  &__top {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    max-width: 600px;
    p {
      margin-bottom: 60px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }

  &__block {
    background-color: white;
    border-radius: 9px;
    max-width: 385px;
    padding: 30px;
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
    }
    &::before {
      content: url("/images/quotes.png");
    }
  }

  &__download {
    display: flex;
    justify-content: center;
    svg {
      &:not(:last-child) {
        margin-right: 13px;
      }
    }
  }
  @include breakpoint(laptop) {
    &__block {
      max-width: 340px;
      margin: 20px auto;
    }
  }

  @include breakpoint(iPad) {
    &__block {
      max-width: 275px;
    }
    &__letters {
      right: 20px;
      top: 8px;
    }
  }
  @include breakpoint(tablet) {
    padding: 85px 0;
    &__top {
      h2 {
        font-size: 36px;
      }
    }
    &__block {
      max-width: 235px;
      p {
        font-size: 16px;
      }
    }
  }

  @include breakpoint(mobileLarge) {
    &__top {
      h2 {
        font-size: 27px;
      }
    }
    &__block {
      max-width: 350px;
      p {
        font-size: 18px;
      }
    }
    &__planet {
      display: none;
    }

    &__letters {
      display: none;
    }
  }

  @include breakpoint(sm-phone) {
    &__top {
      padding: 0;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 17px;
      }
    }
  }
}