.try {
  position: relative;
  padding: 85px 100px;
  background: repeat url("/images/noise.png");
  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__image {
    img {
      max-width: 600px;
    }
  }

  &__text {
    flex-direction: column;
    max-width: 500px;
    max-height: 300px;
    h2 {
      margin-top: 60px;
      margin-bottom: 24px;
    }
    p {
      font-size: 18px;
      margin: 0;
    }
  }
  &__button {
    position: absolute;
    right: 325px;
    top: 220px;
    button {
      @include purple-button;
      max-width: 194px;
      padding: 11.5px 20px;
    }
  }

  &__backpack {
    position: absolute;
    bottom: 0;
    left: 101px;
  }

  &__pencil {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
  }

  &__happy-book {
    position: absolute;
    bottom: 0;
    right: 100px;
  }

  @include breakpoint(laptop) {
    justify-content: space-between;
    &__image {
      img {
        max-width: 467px;
      }
    }
    &__text {
      max-width: 393px;
    }
    &__button {
      right: 220px;
      top: 220px;
    }
  }

  @include breakpoint(iPad) {
    &__image {
      img {
        max-width: 380px;
      }
    }
    &__text {
      max-width: 358px;
      h2 {
        margin-top: 20px;
        font-size: 36px;
      }
    }
    &__button {
      right: 184px;
      top: 200px;
    }
  }

  @include breakpoint(tablet) {
    padding: 85px 0;
    &__container{
      justify-content: center;
    }
    &__image {
      img {
        max-width: 600px;
      }
    }
    &__text {
      max-width: 550px;
      h2 {
        font-size: 36px;
        margin-top: 0;
      }
    }
    &__button {
      margin-top: 20px;
      position: static;
      button {
        max-width: 550px;
        width: 550px;
      }

      margin-bottom: 20px;
    }
  }

  @include breakpoint(md) {
    &__button {
      margin-bottom: 0;
    }

    &__backpack {
      display: none;
    }

    &__pencil {
      display: none;
    }

    &__happy-book {
      display: none;
    }
  }

  @include breakpoint(mobileLarge) {
    &__image {
      img {
        max-width: 400px;
      }
    }
    &__button {
      button {
        max-width: 400px;
      }
    }
  }

  @include breakpoint(sm-phone) {
    &__image {
      img {
        max-width: 335px;
      }
    }
    &__button {
      button {
        max-width: 335px;
      }
    }
    &__text {
      max-width: 300px;
      h2 {
        font-size: 24px;
        margin-top: 0;
      }
      p {
        font-size: 16px;
      }
    }
  }
}