$dark-black: #0D1216;
$black: #313C45;
$light-black: #48555F;
$dark-white: #78848C;
$white: #CFD3D6;
$light-white: #F4F4F6;

$cyan: #00C4CC;
$purple: #8B3DFF;
$dark-purple: #511e9b;
$green: #4CCC4C;
$red: #FF5252;
$yellow: yellow;